<template name="prEdit">
  {{#unless isInRole 'stakePresident, ward'}}
    <div class="ui segment">
      <form class="ui form" id="prEdit">
  <h4 class="ui dividing header">Details</h4>
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name" id="firstName" value="{{currentRec.firstName}}">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name" id="lastName" value="{{currentRec.lastName}}">
    </div>
    <div class="field">
      <label>Age</label>
      <div class="sex ui compact selection dropdown">
  <input type="hidden" name="age" id="age" value="{{currentRec.age}}">
  <i class="dropdown icon"></i>
  <div class="default text">Age</div>
  <div class="menu">
    {{#each age}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
  </div>
</div>
    </div>
    <div class="field">
      <label>Sex</label>
      <div class="sex ui compact selection dropdown">
  <input type="hidden" name="gender" id="sex" value="{{currentRec.sex}}">
  <i class="dropdown icon"></i>
  <div class="default text">Gender</div>
  <div class="menu">
    <div class="item" data-value="Male">Male</div>
    <div class="item" data-value="Female">Female</div>
  </div>
</div>
    </div>
  </div>
      
      <div class="fields">
        <div class="field">
          <label>Street Address</label>
          <input type="text" placeholder="1814 N Echo" id="streetAddress" value="{{currentRec.address}}">
        </div>
        <div class="field">
          <label>Phone Number</label>
          <input type="number" placeholder="5592310700" maxlength="12" id="phone" value="{{currentRec.phone}}">
        </div>
        <div class="field">
      <label>Unit</label>
      <div class="units ui compact selection dropdown">
  <input type="hidden" name="units" id="unit" value="{{currentRecUnit}}">
  <i class="dropdown icon"></i>
  <div class="default text">Units</div>
  <div class="menu">
    {{#each units}}
    <div class="item" data-value="{{this._id}}">{{name}}</div>
    {{/each}}
  </div>
</div>
    </div>
      </div>
    
    
  <h4 class="ui dividing header">Progress</h4>
  <div class="fields">
    
    <div class="field" id="lessonsTaught">
      <label>{{#if baptized}}NML's Taught{{else}}Lessons Taught{{/if}}</label>
      <select name="lessons" multiple="" class="lessons ui dropdown" id="lessons">
        <option value="">Select All Lessons Taught</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
    </div>
    
    <div class="field">
      <label>Fellowship</label>
      <input type="text" placeholder="Fellowship" id="fellowship" value="{{currentRec.fellowship}}">
    </div>
    
    <div class="field">
      <label>Times Attended Church</label>
      <div class="age ui compact selection dropdown">
  <input type="hidden" name="attendedChurch" id="attendedChurch" value="{{currentRec.timesAtSac}}">
  <i class="dropdown icon"></i>
  <div class="default text">Number of Times</div>
  <div class="menu">
    <div class="item" data-value="0">0</div>
    <div class="item" data-value="1">1</div>
    <div class="item" data-value="2">2</div>
    <div class="item" data-value="3">3</div>
    <div class="item" data-value="4">4</div>
    <div class="item" data-value="5">5</div>
    <div class="item" data-value="6">6</div>
    <div class="item" data-value="7">7</div>
    <div class="item" data-value="8">8</div>
    <div class="item" data-value="9">9</div>
    <div class="item" data-value="10+">10+</div>
  </div>
</div>
    </div>
    <div class="fields">
    <div class="field">
      <label>Baptism: Month</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateMonth" id="bapMonth" value="{{currentRec.bapMonth}}">
  <i class="dropdown icon"></i>
  <div class="default text">Month</div>
  <div class="menu">
    <div class="item" data-value="January">Jan</div>
    <div class="item" data-value="February">Feb</div>
    <div class="item" data-value="March">Mar</div>
    <div class="item" data-value="April">Apr</div>
    <div class="item" data-value="May">May</div>
    <div class="item" data-value="June">Jun</div>
    <div class="item" data-value="July">Jul</div>
    <div class="item" data-value="August">Aug</div>
    <div class="item" data-value="September">Sept</div>
    <div class="item" data-value="October">Oct</div>
    <div class="item" data-value="November">Nov</div>
    <div class="item" data-value="December">Dec</div>
  </div>
</div>
      </div>
      <div class="field">
        <label>Day</label>
      <div class="date ui  compact selection dropdown">
  <input type="hidden" name="dateDay" id="bapDay" value="{{currentRec.bapDay}}">
  <i class="dropdown icon"></i>
  <div class="default text">Day</div>
        <div class="menu">
  {{#each day}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
        </div>
</div>
    </div>
      
      <div class="field">
        <label>Year</label>
        <div class="date ui compact selection dropdown">
        <input type="hidden" name="dateDay" id="bapYear" value="{{currentRec.bapYear}}">
          <i class="dropdown icon"></i>
          <div class="default text">
            Year
          </div>
          <div class="menu">
            {{#each year}}
            <div class="item" data-value="{{this}}">{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      
      {{#if notBaptized}}
      <div class="field">
      <div class="solid ui checkbox" id="solid">
      <input type="checkbox" name="solid">
        <label><strong>Solid?</strong></label>
      </div>
      </div>
      {{/if}}
      
    </div>
</div>
        
        <div class="fields">
          <div class="fields">
    <div class="field">
      <label>Confirmation: Month</label>
      <div class="date ui  compact selection dropdown">
  <input type="hidden" name="dateMonth" id="conMonth" value="{{currentRec.conMonth}}">
  <i class="dropdown icon"></i>
  <div class="default text">Month</div>
  <div class="menu">
    <div class="item" data-value="January">Jan</div>
    <div class="item" data-value="February">Feb</div>
    <div class="item" data-value="March">Mar</div>
    <div class="item" data-value="April">Apr</div>
    <div class="item" data-value="May">May</div>
    <div class="item" data-value="June">Jun</div>
    <div class="item" data-value="July">Jul</div>
    <div class="item" data-value="August">Aug</div>
    <div class="item" data-value="September">Sept</div>
    <div class="item" data-value="October">Oct</div>
    <div class="item" data-value="November">Nov</div>
    <div class="item" data-value="December">Dec</div>
  </div>
</div>
      </div>
      <div class="field">
        <label>Day</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateDay" id="conDay" value="{{currentRec.conDay}}">
  <i class="dropdown icon"></i>
  <div class="default text">Day</div>
        <div class="menu">
  {{#each day}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
        </div>
</div>
    </div>
      
      <div class="field">
        <label>Year</label>
        <div class="date ui compact selection dropdown">
        <input type="hidden" name="dateDay" id="conYear" value="{{currentRec.conYear}}">
          <i class="dropdown icon"></i>
          <div class="default text">
            Year
          </div>
          <div class="menu">
            {{#each year}}
            <div class="item" data-value="{{this}}">{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      
    </div>
        </div>
        
<div class="field">
      <div class="field">
        <label>Help Needed</label>
        <textarea id="helpNeeded" value="{{currentRec.helpNeeded}}"></textarea>
      </div>
</div>
        
        
   <div class="ui segment">
    <div class="field">
      <div class="bap ui toggle checkbox">
        <input type="checkbox" name="baptized" id="bapChkBox">
        <label>Baptized! (Make Recent Convert)</label>
      </div>
    </div>
  </div>
        
  {{#if baptized}}
   {{> rcDetailsEdit}}
  {{/if}}
        <div class="ui hidden divider"></div>
        
    <div class="actions">
      <button class="ui positive button" type="submit">Update Progress Record</button>
      <button class="cancel ui button">Cancel</button>
      <button class="right floated ui negative button">Delete</button>
    </div>
</form>
    </div>
  {{/unless}}
  {{#if isInRole 'stakePresident,ward'}}
  <div class="ui segment">
      <form class="ui form" id="prEdit">
  <h4 class="ui dividing header">Details</h4>
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name" id="firstName" value="{{currentRec.firstName}}">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name" id="lastName" value="{{currentRec.lastName}}">
    </div>
    <div class="field">
      <label>Age</label>
      <div class="sex ui compact selection dropdown">
  <input type="hidden" name="age" id="age" value="{{currentRec.age}}">
  <i class="dropdown icon"></i>
  <div class="default text">Age</div>
  <div class="menu">
    {{#each age}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
  </div>
</div>
    </div>
    <div class="field">
      <label>Sex</label>
      <div class="sex ui compact selection dropdown">
  <input type="hidden" name="gender" id="sex" value="{{currentRec.sex}}">
  <i class="dropdown icon"></i>
  <div class="default text">Gender</div>
  <div class="menu">
    <div class="item" data-value="Male">Male</div>
    <div class="item" data-value="Female">Female</div>
  </div>
</div>
    </div>
  </div>
      
      <div class="fields">
        <div class="field">
          <label>Street Address</label>
          <input type="text" placeholder="1814 N Echo" id="streetAddress" value="{{currentRec.address}}">
        </div>
        <div class="field">
          <label>Phone Number</label>
          <input type="number" placeholder="5592310700" maxlength="12" id="phone" value="{{currentRec.phone}}">
        </div>
        <div class="field">
      <label>Unit</label>
      <div class="units ui compact selection dropdown">
  <input type="hidden" name="units" id="unit" value="{{currentRecUnit}}">
  <i class="dropdown icon"></i>
  <div class="default text">Units</div>
  <div class="menu">
    {{#each units}}
    <div class="item" data-value="{{this._id}}">{{name}}</div>
    {{/each}}
  </div>
</div>
    </div>
      </div>
    
    
  <h4 class="ui dividing header">Progress</h4>
  <div class="fields">
    
    <div class="field" id="lessonsTaught">
      <label>{{#if baptized}}NML's Taught{{else}}Lessons Taught{{/if}}</label>
      <select name="lessons" multiple="" class="lessons ui dropdown" id="lessons">
        <option value="">Select All Lessons Taught</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
    </div>
    
    <div class="field">
      <label>Fellowship</label>
      <input type="text" placeholder="Fellowship" id="fellowship" value="{{currentRec.fellowship}}">
    </div>
    
    <div class="field">
      <label>Times Attended Church</label>
      <div class="age ui compact selection dropdown">
  <input type="hidden" name="attendedChurch" id="attendedChurch" value="{{currentRec.timesAtSac}}">
  <i class="dropdown icon"></i>
  <div class="default text">Number of Times</div>
  <div class="menu">
    <div class="item" data-value="0">0</div>
    <div class="item" data-value="1">1</div>
    <div class="item" data-value="2">2</div>
    <div class="item" data-value="3">3</div>
    <div class="item" data-value="4">4</div>
    <div class="item" data-value="5">5</div>
    <div class="item" data-value="6">6</div>
    <div class="item" data-value="7">7</div>
    <div class="item" data-value="8">8</div>
    <div class="item" data-value="9">9</div>
    <div class="item" data-value="10+">10+</div>
  </div>
</div>
    </div>
    <div class="fields">
    <div class="field">
      <label>Baptism: Month</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateMonth" id="bapMonth" value="{{currentRec.bapMonth}}">
  <i class="dropdown icon"></i>
  <div class="default text">Month</div>
  <div class="menu">
    <div class="item" data-value="January">Jan</div>
    <div class="item" data-value="February">Feb</div>
    <div class="item" data-value="March">Mar</div>
    <div class="item" data-value="April">Apr</div>
    <div class="item" data-value="May">May</div>
    <div class="item" data-value="June">Jun</div>
    <div class="item" data-value="July">Jul</div>
    <div class="item" data-value="August">Aug</div>
    <div class="item" data-value="September">Sept</div>
    <div class="item" data-value="October">Oct</div>
    <div class="item" data-value="November">Nov</div>
    <div class="item" data-value="December">Dec</div>
  </div>
</div>
      </div>
      <div class="field">
        <label>Day</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateDay" id="bapDay" value="{{currentRec.bapDay}}">
  <i class="dropdown icon"></i>
  <div class="default text">Day</div>
        <div class="menu">
  {{#each day}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
        </div>
</div>
    </div>
      
      <div class="field">
        <label>Year</label>
        <div class="date ui compact selection dropdown">
        <input type="hidden" name="dateDay" id="bapYear" value="{{currentRec.bapYear}}">
          <i class="dropdown icon"></i>
          <div class="default text">
            Year
          </div>
          <div class="menu">
            {{#each year}}
            <div class="item" data-value="{{this}}">{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      
    </div>
</div>
        
        <div class="fields">
          <div class="fields">
    <div class="field">
      <label>Confirmation: Month</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateMonth" id="conMonth" value="{{currentRec.conMonth}}">
  <i class="dropdown icon"></i>
  <div class="default text">Month</div>
  <div class="menu">
    <div class="item" data-value="January">Jan</div>
    <div class="item" data-value="February">Feb</div>
    <div class="item" data-value="March">Mar</div>
    <div class="item" data-value="April">Apr</div>
    <div class="item" data-value="May">May</div>
    <div class="item" data-value="June">Jun</div>
    <div class="item" data-value="July">Jul</div>
    <div class="item" data-value="August">Aug</div>
    <div class="item" data-value="September">Sept</div>
    <div class="item" data-value="October">Oct</div>
    <div class="item" data-value="November">Nov</div>
    <div class="item" data-value="December">Dec</div>
  </div>
</div>
      </div>
      <div class="field">
        <label>Day</label>
      <div class="date ui compact selection dropdown">
  <input type="hidden" name="dateDay" id="conDay" value="{{currentRec.conDay}}">
  <i class="dropdown icon"></i>
  <div class="default text">Day</div>
        <div class="menu">
  {{#each day}}
    <div class="item" data-value="{{this}}">{{this}}</div>
    {{/each}}
        </div>
</div>
    </div>
      
      <div class="field">
        <label>Year</label>
        <div class="date ui compact selection dropdown">
        <input type="hidden" name="dateDay" id="conYear" value="{{currentRec.conYear}}">
          <i class="dropdown icon"></i>
          <div class="default text">
            Year
          </div>
          <div class="menu">
            {{#each year}}
            <div class="item" data-value="{{this}}">{{this}}</div>
              {{/each}}
            </div>
          </div>
        </div>
      
    </div>
        </div>
        
<div class="field">
      <div class="field">
        <label>Help Needed</label>
        <textarea id="helpNeeded" value="{{currentRec.helpNeeded}}"></textarea>
      </div>
</div>
        
        
   <div class="ui segment">
    <div class="field">
      <div class="bap ui toggle checkbox">
        <input type="checkbox" name="baptized" id="bapChkBox">
        <label>Baptized! (Make Recent Convert)</label>
      </div>
    </div>
  </div>
        
  {{#if baptized}}
   {{> rcDetailsEdit}}
  {{/if}}
        <div class="ui hidden divider"></div>
        
    <div class="actions">
      <button class="cancel ui button">Close</button>
    </div>
</form>
    </div>
  {{/if}}
</template>