<template name="404">
<div class="ui container">
      <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  
  <div class="ui segment">
    <h2 class="ui center aligned header">
  Oops, the page you're looking for does not exist.
  </h2>
    <h4 class="ui center aligned header">
      It looks like this page wasn't progressing. Try coming back when it's prepared.
    </h4>
    <h3 class="ui center aligned header">
      Drop Reason: Could not contact. (Error: 404)
    </h3>
  </div>
  </div>
</template>