<template name="fullDash">
{{#if isInRole 'office'}}
    
  <div class="ui selection dropdown" id="drilldownZone">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select Zone</div>
      <div class="menu">
        {{#each zones}}
        <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
      </div>
    </div>
    
      <div class="ui selection dropdown" id="drilldownDistrict">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select District</div>
      <div class="menu">
        {{#each districtsAP}}
        <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
      </div>
    </div>
    <div class="ui selection dropdown" id="drilldownArea">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select Area</div>
      <div class="menu">
        {{#each areasAP}}
        <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
      </div>
    </div>
    
    <div class="ui button">
      Reset
    </div>
    {{/if}}
    
    {{#if isInRole 'zoneLeader'}}
      <div class="ui selection dropdown" id="drilldownDistrict">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select District</div>
      <div class="menu">
        {{#each districtsZL}}
        <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
      </div>
    </div>
    <div class="ui selection dropdown" id="drilldownArea">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select Area</div>
      <div class="menu">
        {{#each areasZL}}
        <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
      </div>
    </div>
    <div class="ui button">
      Reset
    </div>
    
    {{/if}}
    
    {{#if isInRole 'districtLeader'}}
    <div class="district ui button">
      View District
    </div>
    <div class="ui selection dropdown" id="drilldownArea">
      <input type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select Area</div>
      <div class="menu">
        {{#each areasDL}}
        <div class="item" data-value="{{_id}}">
          {{name}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="ui right floated button">
      Reset
    </div>
    {{/if}}
</template>